<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="con" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=E:\RayhanMia_Dont_Touch\IsDBWork\Project\ado_net_CristalReport\cristalReport Porject\MdRayhanMia_1280382_uP\SchoolManagMent\SchoolManagMent\SchoolManagMentDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>